---
import { FiMenu, FiX } from "react-icons/fi";
import { FaLinkedinIn, FaGithub } from "react-icons/fa6";
import ThemeToggle from "../../ThemeToggle.astro";

const links = [
  { name: "Inicio", href: "/" },
  { name: "Proyectos", href: "/proyectos" },
  { name: "Sobre Mi", href: "/about" },
  { name: "Contacto", href: "/contact" },
];
---

<nav class="relative">
  <input id="menu-toggle" type="checkbox" class="peer hidden md:hidden" />

  <nav
    class="fixed top-0 left-0 w-full z-50 bg-white/80 dark:bg-gray-950/80 backdrop-blur-md border-b border-gray-200 dark:border-white/10 transition-colors duration-300"
  >
    <div class="max-w-7xl mx-auto px-6 py-4 flex items-center justify-between">
      <a href="/" class="flex items-center">
        <h3
          class="text-2xl font-bold text-gray-900 dark:text-white tracking-tighter"
        >
          GAG<span class="text-[#2c77f2]">.</span>
        </h3>
      </a>

      <ul id="navbar-links" class="hidden md:flex items-center space-x-8">
        {
          links.map((link) => (
            <li>
              <a
                href={link.href}
                class="nav-link font-bold transition-colors duration-300 text-gray-700 dark:text-white hover:text-[#2c77f2] dark:hover:text-[#2c77f2]"
              >
                {link.name}
              </a>
            </li>
          ))
        }

        <li
          class="flex items-center gap-4 ml-4 pl-4 border-l border-gray-300 dark:border-gray-700"
        >
          <a
            href="https://www.linkedin.com/in/gabriel-andreu-gimeno-ba674824a/"
            target="_blank"
            class="text-gray-600 dark:text-white hover:text-[#2c77f2] dark:hover:text-[#2c77f2] transition-colors"
          >
            <FaLinkedinIn className="h-5 w-5 cursor-pointer" />
          </a>
          <a
            href="https://github.com/gabri98gim"
            target="_blank"
            class="text-gray-600 dark:text-white hover:text-[#2c77f2] dark:hover:text-[#2c77f2] transition-colors"
          >
            <FaGithub className="h-5 w-5 cursor-pointer" />
          </a>

          <ThemeToggle />
        </li>
      </ul>

      <div class="flex md:hidden items-center gap-4 z-50">
        <ThemeToggle />
        <label for="menu-toggle" class="cursor-pointer">
          <FiMenu
            className="h-8 w-8 text-gray-900 dark:text-white peer-checked:hidden"
          />
        </label>
      </div>
    </div>
  </nav>

  <div
    class="fixed top-0 right-0 h-full w-64 bg-white dark:bg-gray-950 shadow-2xl transform translate-x-full transition-transform duration-300 peer-checked:translate-x-0 z-60 border-l border-gray-200 dark:border-white/10"
  >
    <div class="flex justify-end p-5">
      <label for="menu-toggle" class="cursor-pointer">
        <FiX className="h-8 w-8 text-gray-900 dark:text-white" />
      </label>
    </div>

    <ul id="navbar-links-mobile" class="flex flex-col space-y-6 mt-8 ml-8">
      {
        links.map((link) => (
          <li>
            <a
              href={link.href}
              class="nav-link-mobile text-xl font-bold text-gray-800 dark:text-white hover:text-[#2c77f2] transition-colors duration-300"
            >
              {link.name}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</nav>
