---
import MiFoto from "../../assets/img/MiFoto.png"; // <--- Asegúrate que tu foto se llame así en la carpeta
---

<div
  class="mx-auto mt-20 flex max-w-6xl flex-col items-center gap-8 px-6 lg:flex-row "
>
  <div
    class="border-primary h-64 w-64 overflow-hidden rounded-2xl shadow-lg md:h-96 md:w-96 drop-shadow-[4px_4px_0_#7836cf]"
  >
    <img
      src={MiFoto.src}
      alt="Foto de Gabri" 
      class="h-full w-full object-cover object-[center_15%]" 
    />
  </div>

  <div class="flex-1 text-center text-gray-300 lg:text-left">
    <h2 class="text-3xl font-bold text-white">
      Sobre <span class="text-white text-shadow">Mí</span>
    </h2>
    
    <p class="mt-4">
      Soy <span class="text-primary font-semibold">Gabriel</span>, un perfil híbrido entre el 
      <span class="text-primary font-semibold">Desarrollo Front End</span> y la 
      <span class="text-primary font-semibold">Producción Audiovisual</span>. 
      Mi enfoque no es solo escribir código, sino crear experiencias digitales que narren una historia y atrapen visualmente al usuario.
    </p>

    <p class="mt-2">
      Combino la lógica de programación con mi ojo de <span class="text-primary font-semibold">Filmmaker</span>. 
      Trabajo con tecnologías modernas como <span class="text-primary font-semibold">Astro, React y Tailwind CSS</span>, 
      integrando diseño y funcionalidad. Para mí, una web no es solo estructura, es ritmo, composición y movimiento.
    </p>

    <p class="mt-2">
      Siempre estoy <span class="text-primary font-semibold">aprendiendo</span> y buscando nuevas formas de fusionar 
      la creatividad visual con la potencia del software. Mi objetivo es aportar valor en proyectos donde el <span class="text-primary font-semibold">detalle</span> y la <span class="text-primary font-semibold">experiencia de usuario</span> sean la prioridad.
    </p>
  </div>
</div>