---
interface Props {
  icon: any;
  title: string;
  description: string;
}

const { icon: Icon, title, description } = Astro.props;
---

<section
  class="group bg-white dark:bg-gray-900 relative flex flex-col items-center justify-center overflow-hidden rounded-2xl p-6 shadow-lg border border-gray-200 dark:border-transparent transition-transform duration-300 hover:scale-[1.02] hover:shadow-xl drop-shadow-[4px_4px_0_#2c77f2]"
>
  <!-- Glow efecto -->
  <div
    class="absolute inset-0 -z-10 opacity-0 blur-2xl transition duration-500 group-hover:opacity-100"
  >
  </div>

  <!-- Icono -->
  <div class="mb-4 drop-shadow-[2px_2px_0_#2c77f2] text-4xl text-[#02ffee]">
    {Icon && <Icon />}
  </div>

  <!-- Título -->
  <h3
    class="mb-2 text-xl font-bold text-gray-900 dark:text-white drop-shadow-[2px_2px_0_#2c77f2]"
  >
    {title}
  </h3>

  <!-- Descripción -->
  <p class="text-center text-gray-600 dark:text-neutral-300">{description}</p>
</section>
